<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
  </head>
  <body>

    <div id="container">
      <header>
        <h1>master's thesis @ playground.tmn.io</h1>

        <input type="text" name="search-field" id="search-field"><button id="search-button">Search</button>
      </header>

      <section id="results">

      </section>

      <footer>

      </footer>
    </div>
    <script src="./js/bundle.js"></script>
  </body>
</html>
